<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>


	<form>
	  <div class="form-group" method="POST">
	    <label for="exampleInputEmail1">calcular votos</label>
	  </div>
	  
	  <div class="form-group" method="POST">
	    <label for="exampleInputEmail1">calcular validos</label>
	    <input type="number" class="form-control"  aria-describedby="emailHelp" placeholder="votos validos">
	  </div>
	  
	  <div class="form-group" method="POST">
	    <label for="exampleInputEmail1">calcular brancos</label>
	    <input type="number" class="form-control"  aria-describedby="emailHelp" placeholder="votos brancos">
	  </div>
	  
	  <div class="form-group" method="POST">
	    <label for="exampleInputEmail1">calcular nulos</label>
	    <input type="number" class="form-control"  aria-describedby="emailHelp" placeholder="votos nulos">
	  </div>
	  
	  
	<button type="submit" class="btn btn-primary">Calcular</button>
	</form>
	
	<div th:each"voto" ${voto}>
		<div class="row"></div>
			<p><span th:text="${voto.validos}"></span></p>
			<p><span th:text="${voto.brancos}"></span></p>
			<p><span th:text="${voto.nulos}"></span></p>
		</div>
		
</html>